<h3>Every Product at the LCBO</h3>
<p>We're rollin...</p>

<ul class="products">
  <% @products.each do |product| %>
      <p><%= link_to product.name, product %></p>
      <p><%= link_to image_tag(product.photo), product %></p>
  <% end %>
</ul>
